<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/app-route/app-route-converter.html">

<!--<link rel="import" href="../bower_components/paper-card/paper-card.html">-->
<!--<link rel="import" href="../bower_components/paper-button/paper-button.html">-->
<!--<link rel="import" href="../bower_components/iron-form/iron-form.html">-->

<link rel="import" href="../bower_components/vaadin-upload/vaadin-upload.html">

<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<!--
`upload-video`


@demo demo/index.html 
-->

<dom-module id="upload-video">
    <template>
    <style include="iron-flex">
      :host {
        display: block;
      }
      paper-card{
        margin: 10px;
        width: 480px;
      }
      paper-button{
        background-color: lightgray
      }
    </style>

<div class="layout horizontal center-justified">
   <paper-card alt="video placeholder">
      <vaadin-upload id="video-upload" max-files="1" form-data-name="sampleFile" accept="video/*" target="/upload" method="POST">

      </vaadin-upload>
   </paper-card>
    </div>
    <app-location route="{{route}}"></app-location>
    <app-route route="{{route}}" pattern="/:page" data="{{data}}" tail="{{tail}}"></app-route>
    <app-route-converter path="{{path}}" query-params="{{queryParams}}" route="{{route}}"></app-route-converter>
    </template>

    <script src="./src.js"></script>
</dom-module>